/* Global */
body {
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header,
main,
footer .info-container {
    padding: 1.5rem;
}

h2 {
    font-size: 2rem;
}


/* Header Section */
header {
    display: flex;
    flex-direction: column;
}

.image-header-container {
    position: relative;
}

.image-header-container img {
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    font-size: 4rem;
    line-height: 1.2;
}

.aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme-container h2 {
    margin-bottom: 0;
}

.aboutme-container p {
    margin-top: 0;
}

.icon-header-container {
    display: flex;
    gap: 1rem;
}

.icon-header-container svg {
    width: 1.5rem;
}

/* Main Section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

main .articles {
    display: grid;
    grid-template-columns: 1fr;
}

section h2 {
    text-align: center;
}

main img {
    width: 100%;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content-detail-container svg {
    width: 1rem;
}

.content-detail-container {
    padding: 0 1rem;
    margin-top: 0;
    padding-bottom: 4rem;
}

.title-icon-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: flex-start;
}

.text-dummy {
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: 0;
}


/* Footer Section */
footer,
.info-container,
.info-detail-container,
address {
    display: flex;
    flex-direction: column;
}

.info-detail-container {
    gap: 1rem;
}

.phone-container svg,
.email-container svg {
    display: none;
}

.icon-footer-container svg {
    width: 2rem;
}
.info-container h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.info-container h2,
.icon-footer-container {
    align-self: center;
}

.info-container {
    line-height: 1;
    margin-bottom: 3rem;
}

address {
    gap: 2rem;
}

.address-container p,
.phone-container p,
.email-container p {
    margin: 0;
    font-size: 1rem;
}

.recommend-text {
    font-size: 1.125rem;
}

.icon-footer-container {
    display: flex;
    gap: 1.5rem;
}

.image-footer-container img{
    width: 100%;
    height: auto;
}

/* Style */
body {
    background: linear-gradient(180deg, #8ec0ec 0%, #dddfb9 100%);
}

footer {
    background-color: #8ec0ec;
}

h1 {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

h1,
footer h2,
footer p {
    color: rgb(255, 255, 255);
}

p {
    font-family: "Roboto", sans-serif;
    color:rgb(0, 0, 0, 0.5)
}

.image-header-container img,
article {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 10px 2px rgba(0, 0, 0, 0.2);
}


/* Media Query for tablet screen */
@media (min-width: 768px) {
    body {
        gap: 7rem;
    }

    /* Header Section */
    header {
        align-items: center;
    }

    .image-header-container {
        max-width: 20rem;
    }

    .image-header-container h1 {
        white-space: nowrap;
        font-size: 4rem;
        left: -3rem;
        bottom: 2%;
    }

    .aboutme-container {
        margin: -7rem 3rem;
        padding: 7rem 2rem;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 10px 10px 2px rgba(61, 53, 53, 0.2);
    }

    .icon-header-container {
        margin-top: 2rem;
        margin-bottom: -2rem;
    }

    /* Main Section */
    main .articles {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 1.5rem;
    }

    main section {
        margin: 0 1.5rem;
    }

    main h2 {
        text-align: start;
        margin-bottom: 0;
        margin-left: 1.5rem;
    }

    /* Footer Section */
    footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem 3rem;
    }

    .image-footer-container {
        max-width: 15rem;
    }

    .info-container h2,
    .icon-footer-container {
        align-self: flex-start;
    }

    .icon-footer-container {
        margin-top: 1rem;
    }

    .phone-container, 
    .email-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .phone-container svg,
    .email-container svg {
        display: block;
        width: 1.5rem;
    }
}

@media (min-width: 1280px) {
    /* Header Section */
    header,
    main {
        max-width: 90rem;
        margin: 0 auto;
    }

    header {
        flex-direction: row;
    }

    .image-header-container {
        max-width: 80rem;
    }

    .image-header-container h1 {
        white-space: wrap;
        bottom: 1%;
        left: 2.5%;
        font-size: 3.5rem;
    }

    .aboutme-container {
        gap: 1rem;
    }

    .aboutme-container {
        max-width: 100%;
        margin: 0 0;
        padding: 2rem 3rem;
    }

    .icon-header-container {
        margin-bottom: 0;
        align-self: flex-end;
    }

}